@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
    border: 1px solid red;
}
body{
    background-color: black;
}

/* Header */
header{
    position: fixed;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 10px;
    height: 10vh;
    width: 100vw;
    top: 0;
    padding: 5px;
}
div > svg{
    height: 20px;
}
header > div{
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}
header:first-child div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    gap: 5px;
}

/* Img main */
.container-flex{
    display: flex;
    justify-content:center;
    width: 90vw;
    margin: 12vh auto;
    flex-wrap: wrap;
}
.foto-flex{
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    display: flex;
    align-items: center;
}
.foto-flex > img{
    width: 12.5vw;
}
.nameplate{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 5px;
    background-color: rgb(128, 128, 128, 0.7);
}











.clearfix::after{
    content:"";
    display: table;
    clear: both;
}